<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts-1/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style_2.css">
    <!--===============================================================================================-->
</head>

<body>


    <%- messages('Web Appendage Pages/message.ejs',locals) %>
        <div class="limiter">
            <div class="container-profile100">
                <div class="header">
                    <div class="cover-image100">
                        <a href="#">
                            <span class="fa fa-bars menu-button" onclick="openMenu()"></span>
                        </a>
                        <nav id="menu">
                            <ul>
                                <li><a href="#"><span class="fa fa-home"></span> Home</a></li>
                                <li><a href="#"><span class="fa fa-sign-out"></span> Log Out</a></li>
                            </ul>
                            <span class="fa fa-times close-menu" onclick="closeMenu()"></span>
                        </nav>
                    </div>
                    <div class="container profile-pic-section">
                        <div class="row head-section">
                            <div class="col-md-12" align="center">
                                <img src="/img/profile.jpg" class="profile-img" alt="profile picture">
                                <h5>Ishaq Khalil <span class="sub-heading">(Frontend Developer)</span></h5>
                                <button id="edit-button" class="btn btn-primary edit-button"
                                    onclick="editProfile()">Edit
                                    Profile <span class="fa fa-pencil"></span></button>
                                <button id="update-button" class="btn btn-primary update-button"
                                    onclick="updateProfile()">Update Profile <span class="fa fa-pencil"></span></button>
                            </div>
                        </div>
                        <div class="row main-content">
                            <div class="col-md-7 personal-section">
                                <div class="personal-data">
                                    <label for="name">Name: </label>
                                    <input type="text" id="name" name="name" value="Muhammad Ishaq Khalil" disabled>
                                </div>
                                <div class="personal-data">
                                    <label for="position">Position: </label>
                                    <input type="text" id="position" name="position" value="Frontend Developer"
                                        disabled>
                                </div>
                                <div class="personal-data">
                                    <label for="email">Email: </label>
                                    <input type="email" id="email" name="email" value="example@mail.com" disabled>
                                </div>
                                <div class="personal-data">
                                    <label for="mobile">Mobile: </label>
                                    <input type="text" id="mobile" name="mobile" value="03331234532" disabled>
                                </div>
                            </div>
                            <div class="col-md-5 image-update-section">
                                <div class="image-update">
                                    <label for="profile">Profile Picture: </label>
                                    <input type="file" class="btn btn-primary img-file" id="profile" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===============================================================================================-->
        <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="/vendor/jquery/tilt.jquery.min.js"></script>
        <script>
            $('.js-tilt').tilt({
                scale: 1.1
            })
            var menu = document.getElementById("menu");
            function openMenu() {
                menu.style.top = "0";
            }
            function closeMenu() {
                menu.style.top = "-100vh";
            }
            var uname = document.getElementById("name");
            var position = document.getElementById("position");
            var email = document.getElementById("email");
            var mobile = document.getElementById("mobile");
            var profile = document.getElementById("profile");
            var edit = document.getElementById("edit-button");
            var update = document.getElementById("update-button");

            function editProfile() {
                uname.disabled = false;
                position.disabled = false;
                email.disabled = false;
                mobile.disabled = false;
                profile.disabled = false;
                edit.style.display = "none";
                update.style.display = "block";
            }
            function updateProfile() {
                uname.disabled = true;
                position.disabled = true;
                email.disabled = true;
                mobile.disabled = true;
                profile.disabled = true;
                edit.style.display = "block";
                update.style.display = "none";
            }
        </script>


</body>

</html>